PORT = 8080

# For local development, paste the entire content of your serviceAccountKey.json here.
FIREBASE_ADMIN_CREDENTIAL='{"type": "service_account", "project_id": "...", ...}'

STRIPE_SECRET_KEY = TRIPE_SECRET_KEY 
STRIPE_WEBHOOK_SECRET = STRIPE_WEBHOOK_SECRET 
CLIENT_URL = 'http://localhost:5173', 