PORT = 8080

# For local development, paste the entire content of your serviceAccountKey.json here.
FIREBASE_ADMIN_CREDENTIAL='{"type": "service_account", "project_id": "...", ...}'

STRIPE_SECRET_KEY = sk_test_...
STRIPE_WEBHOOK_SECRET = whsec_...
CLIENT_URL = 'http://localhost:5173'